# Ignore virtual environment
venv/

# Python bytecode
*.pyc
__pycache__/

# Environment variables file
.env

# Django migrations
*/migrations/*

# SQLite database
*.sqlite3

# Logs
*.log

# Media
media/

# Static files
staticfiles/

# IDE and editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
